@font-face {
  font-family: 'Roboto Regular';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary: hsl(4, 100%, 67%);
  --tomato: #ff5378;
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --light-grey: #d4d4d4;
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: Roboto Regular;
  display: grid;
  height: 100vh;
  overflow: auto;
}

.hero {
  min-height: 284px;
  width: 100%;
  background-image: url(../assets/images/illustration-sign-up-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

header {
  padding: 1rem;
  padding-bottom: 0;
  color: var(--charcoal-grey);
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: Roboto Bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.subheading {
  margin-bottom: 1rem;
}

.features {
  padding: 1.5rem;
  padding-bottom: 0;
  list-style-image: url(../assets/images/icon-list.svg);
}

.features__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

form {
  padding: 1rem;
}

.label__error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-message,
label {
  font-size: 0.75rem;
  font-weight: 700;
  font-family: Roboto Bold;
}

.error-message {
  color: var(--tomato);
}

input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

button {
  width: 100%;
  padding: 1.25rem 1rem;
  border-radius: 8px;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  border: none;
}

.success {
  display: none;
  background-color: var(--white);
  border-radius: 28px;
  max-width: 400px;
  padding: 2rem;
  place-self: end center;
  margin-top: 15%;
}

.success__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--charcoal-grey);
}

.success__heading::before {
  content: url(../assets/images/icon-success.svg);
  display: block;
  margin-bottom: 1.5rem;
}

.success__message {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--charcoal-grey);
}
.email__id {
  font-weight: bold;
  color: var(--dark-slate-grey);
}
.dismiss__btn {
  margin-top: 90%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0rem;
}
.attribution a {
  color: var(--tomato);
}

@media (min-width: 768px) {
  body {
    background-color: #35384d;
    padding: 10vh 19vw;
  }
  section {
    padding: 1.5rem;
  }
  .heading {
    font-size: 3rem;
  }
  .subheading {
    font-size: 1rem;
  }
  .hero {
    min-height: 593px;
    min-width: 400px;
    width: auto;
    order: 2;
    background-image: url(../assets/images/illustration-sign-up-desktop.svg);
    background-size: contain;
  }
  main {
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 28px;
  }
  button:hover {
    background: linear-gradient(to right, var(--tomato), var(--primary));
    cursor: pointer;
  }
  form {
    padding-right: 3rem;
  }
  .success {
    padding: 2.75rem;
    margin-top: 0;
  }
  .success__heading {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--dark-slate-grey);
  }
  .success__message {
    line-height: 1.25rem;
    color: var(--charcoal-grey);
  }
  .dismiss__btn {
    margin-top: 2rem;
  }
  .attribution {
    color: var(--white);
    margin-top: 1rem;
  }
}
